<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<style>
	body {
		background-color: pink;
		margin: 50px;
	}

	main {
		background-color: white;
		padding: 50px;
	}
	</style>
</head>
<body>

<main>
{{ content }}
</main>

<footer>
<a href="/">Home</a>
</footer>
</body>
</html>