<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/assets/site.css" />
</head>
<body>

<main>
{{ content }}
</main>

<footer>
<a href="/">Home</a>
</footer>
</body>
</html>